## Deliverable 2. Create a Customer Travel Destinations Map.

In [23]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Barrow,US,71.2906,-156.7887,41.92,68,77,9.22,broken clouds
1,1,Marrakesh,MA,31.6315,-8.0083,86.07,48,40,8.05,scattered clouds
2,2,Nikolskoye,RU,59.7035,30.7861,66.87,71,59,4.70,broken clouds
3,3,Port Lincoln,AU,-34.7333,135.8667,51.26,76,3,5.48,clear sky
4,4,Kodiak,US,57.7900,-152.4072,60.31,67,100,10.36,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 63
What is the maximum temperature you would like for your trip? 85

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Nikolskoye,RU,59.7035,30.7861,66.87,71,59,4.70,broken clouds
7,7,Avarua,CK,-21.2078,-159.7750,75.25,64,75,16.11,broken clouds
8,8,Rikitea,PF,-23.1203,-134.9692,72.30,80,92,11.41,light rain
11,11,Torbay,CA,47.6666,-52.7314,67.87,72,19,15.84,few clouds
12,12,Caravelas,BR,-17.7125,-39.2481,71.20,88,3,4.72,clear sky
14,14,Trinidad,BO,-14.8333,-64.9000,76.98,69,49,0.00,scattered clouds
18,18,Atuona,PF,-9.8000,-139.0333,77.68,77,22,19.80,light rain
19,19,Samarai,PG,-10.6167,150.6667,77.76,83,100,19.69,overcast clouds
22,22,Saint-Francois,FR,46.4154,3.9054,67.44,77,0,3.44,clear sky
23,23,Ponta Do Sol,PT,32.6667,-17.1000,70.43,77,12,3.87,few clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                379
City                   379
Country                379
Lat                    379
Lng                    379
Max Temp               379
Humidity               379
Cloudiness             379
Wind Speed             379
Current Description    379
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [27]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Nikolskoye,RU,66.87,broken clouds,59.7035,30.7861,
7,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,
8,Rikitea,PF,72.30,light rain,-23.1203,-134.9692,
11,Torbay,CA,67.87,few clouds,47.6666,-52.7314,
12,Caravelas,BR,71.20,clear sky,-17.7125,-39.2481,
14,Trinidad,BO,76.98,scattered clouds,-14.8333,-64.9000,
18,Atuona,PF,77.68,light rain,-9.8000,-139.0333,
19,Samarai,PG,77.76,overcast clouds,-10.6167,150.6667,
22,Saint-Francois,FR,67.44,clear sky,46.4154,3.9054,
23,Ponta Do Sol,PT,70.43,few clouds,32.6667,-17.1000,

In [28]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [47]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] != "" )]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Nikolskoye,RU,66.87,broken clouds,59.7035,30.7861,Tourist House - Sablino
7,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
8,Rikitea,PF,72.30,light rain,-23.1203,-134.9692,People ThankYou
11,Torbay,CA,67.87,few clouds,47.6666,-52.7314,Gallows Cove
12,Caravelas,BR,71.20,clear sky,-17.7125,-39.2481,Pousada dos Navegantes

In [48]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [57]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [63]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Save the figure.
#plt.savefig("WeatherPy_vacation_map.png")

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))